.attachment {
  margin: 0;
  padding: 0;
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.poster {
  display: flex;

  &-images {
    display: flex;
  }

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-content-row {
    color: #C6C9CA;
  }
}

.display-name {
  color: #1CA3E1;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.tags {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    list-style: none;
  }
}

.tag {
  font-weight: bold;
  padding-right: 8px;
  transition: color 0.3s;

  &:last-of-type {
    padding-right: 0;
  }

  &:hover {
    color: #1CA3E1;
    cursor: pointer;
  }
}
